html {
     background-color:#d6dadc;
     padding:20px;
     font-size:18pt;
}
body {
	text-align:center;
	margin-top: 80px; 
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555555;
	padding: 40px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#f2f2f2);
	background: #fff;-webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#f2f2f2));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-top: 3px solid #ffffff;
	-moz-box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(100,206,255,1);
	-webkit-box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(100,206,255,1);
	box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(100,206,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
a {
     color: #000000;
     font-family: Tahoma;
     font-size: 14px;
     font-weight: bolder;
}

a:link {
     color: #000000;
     text-decoration: none;
}

a:visited {
     color: #000000;
     text-decoration: none;
}

a:hover {
     color: #FF0000;
     font-size: 14px;
}

a:active {
     color: #3300FF;
     text-decoration: none;
}

td {
     border-width: 0px;
     font-family: Tahoma;
     font-size: 11px;
     padding: 5px 7px;
}

textarea {
     border: 1px solid #999999;
     height: 100%;
     margin: 5px 0px;
     padding: 3px;
     width: 100%;
}

div.outer {
     position: relative;
     width: 100%;
}

div.right {
     margin-left: 50%;
     width: 100%;
}

div.top, div.bottom {
     position: absolute;
     width: 50%;
}

div.top {
     top: 0px;
}

div.bottom {
     bottom: 0px;
}

fieldset {
     border-radius: 8px 8px 8px 8px;
}

.menu {
     overflow: hidden;
     padding-bottom: 30px;
     margin-top:-80px;
     width: 100%;
}

.menu ul {
     margin: 0px;
     padding: 0px;
}

.menu li {
     -moz-user-select: none;
     display: inline-block;
     font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 14px; 
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c5a1ab),
		color-stop(0.50, #fff),
		color-stop(0.50, #ffff),
		to(#c5a1ab));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #c5a1ab;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
     
}

.menu li:hover {
     -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 2px 0 #cbcbcb, 0 0px 0px #1f3053;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 2px 0 #cbcbcb, 0 0px 0px #1f3053;
    cursor: pointer;
}

.menu li a {
     color: #595959;
     float: left;
     font: 900 14px Arial,Helvetica,sans-serif;
     margin: 5px 0px 0px 0px;
     text-decoration: none;

}

.menu a.selected {
     border-top-color: #00ff2f;
     color: #000;
     text-decoration: none;
     text-shadow: 0px 0px 40px #00ff2f;

}

.menu a.disabled {
     color: #FF0000;
}

input, textarea, select {
     border-radius: 5px 5px 5px 5px;
     box-shadow: 1px 1px 2px #C0C0C0 inset;
     padding: 7px;
}

input, select {
     margin: -5px 1px 5px;
}

input:hover, select:hover {
     background: none repeat scroll 0px 0px #a0f5e2;
}

.button {
     background-color: #7ee4ce;
     background-image: -moz-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
     border-bottom: 1px solid #B4B4B4;
     border-radius: 5px 5px 5px 5px;
     border-right: 1px solid #DFDFDF;
     box-shadow: 0px 1px 0px 0px white inset, 0px 1px 0px 0px #D5D5D5, 0px 0px 0px 0px #EFEFEF;
     color: #000000;
     font: 14px/1 "helvetica neue",helvetica,arial,sans-serif;
     text-shadow: 0px 1px 1px #FFFFFF;
     width: 220px;
}

.sbutton {
     background-color: #7ee4ce;
     background-image: -moz-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
     border-bottom: 1px solid #B4B4B4;
     border-radius: 5px 5px 5px 5px;
     border-right: 1px solid #DFDFDF;
     box-shadow: 0px 1px 0px 0px white inset, 0px 1px 0px 0px #D5D5D5, 0px 0px 0px 0px #EFEFEF;
     color: #000000;
     font: bold 14px/1 "helvetica neue",helvetica,arial,sans-serif;
     text-shadow: 0px 1px 1px #FFFFFF;
     width: 220px;
}

.option th, .option td {
     background: none repeat scroll 0px 0px #EEFFEE;
     color: #663300;
     font-family: Arial,sans-serif;
     font-size: 10px;
}

.infomenu {
     background-color: whitesmoke;
     border-width: 0px;
     font-family: Tahoma;
     font-size: 14px;
}

.infomenu td {
     border-width: 0px;
     font-family: Tahoma;
     font-size: 14px;
     padding: 0px;
}

.maintable {
     border-collapse: inherit;
     font: 10px Verdana,Arial,Helvetica,sans-serif;
}

.maintable th {
     background: none repeat scroll 0px 0px #fdd255;
     border-bottom: 0px solid #000000;
     border-top: 0px solid #000000;
     padding: 5px;
     color: #000;
     text-align: center;
}

.maintable tr:hover {
     background-color: #ddd;
}

.maintable a {
     color: #000000;
     font-size: 12px;
     font-weight: bolder;
}

.maintable a:hover {
     color: #3300FF;
	 cursor: pointer;
}

.maintable td {
     border-bottom: 1px solid #CCCCCC;
     font-size: 11px;
     padding: 7px;
}

.maintable td + td, .maintable th + th {
     border-left: 1px solid #CCCCCC;
     border-radius: 5px ;

}

.alt1 {
     background-color: #fff;
     box-shadow: 0px 0px 0px #888888 inset;
}

.alt2 {
     background-color: #FAF8FA;
     box-shadow: 0px 0px 0px #888888 inset;
}

.alt3 {
     background-color: #f3ecd5;
     box-shadow: 0px 0px 0px #888888 inset;
}

.success {
     color: #347C17;
}

.failed {
     color: #C11B17;
}

.busy {
     background-color: #99BB00;
     text-align: center;
}

.online {
     background-color: #66F822;
     text-align: center;
}

.offline {
     background-color: #EE3333;
     text-align: center;
}

.left {
     text-align: left;
}

.center {
     text-align: center;
}

.right {
     text-align: right;
}

.online:hover .connect_data, .offline:hover .connect_data, .busy:hover .connect_data {
     visibility: visible;
}

.connect_data {
     background: none repeat scroll 0px 0px #996699;
     border-collapse: collapse;
     border: 1px solid #000000;
     color: #000000;
     font-size: 8px;
     margin: -1px 0px 0px 65px;
     padding: 0px;
     position: absolute;
     visibility: hidden;
}

.connect_data td {
     background-color: #EBF2FB;
     border-bottom: 1px solid #000000;
     padding: 0px 10px;
}

.infotable {
     border-collapse: collapse;
     border: 1px solid black;
     font: 12px Verdana,Arial,Helvetica,sans-serif;
     margin: 0px;
     width: 100%;
}

.infotable th {
     background-color: #708090;
     font-size: 10px;
     padding: 3px;
     text-align: center;
}

.infotable tr:hover {
     background-color: #F2EBFB;
}

.infotable a {
     font-size: 10px;
     font-weight: bolder;
}

.infotable td {
     border-bottom: 1px solid #CCCCCC;
     font-size: 10px;
     margin: 3px;
     padding: 3px;
}

.infotable .left {
     font-weight: bolder;
     text-transform: uppercase;
}
table {
    font: 11px 'trebuchet MS',Arial,Helvetica;
    border: 0px solid #000;
    background-color: #f3f3c9;
    color: #000;
    border-collapse: collapse;
}